[package]
name = "gitopolis"
version = "0.0.0-git"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ansi_term = "0.12.1"
clap = { version = "4.5.4", features = ["derive"] }
env_logger = "0.11.3"
git2 = "0.18.3"
log = "0.4.21"
serde = "1.0.197"
serde_derive = "1.0.197"
toml = "0.8.12"
openssl = { version = "0.10", features = ["vendored"] }
wild = "2.2.1"

[dev-dependencies]
assert_cmd = "2.0"
predicates = "3.1"
tempfile = "3.10.1"
