[package]
name = "gitopolis"
version = "0.0.0-git"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ansi_term = "0.12.1"
clap = { version = "4.4.18", features = ["derive"] }
env_logger = "0.11.1"
git2 = "0.18.1"
log = "0.4.20"
serde = "1.0.196"
serde_derive = "1.0.196"
toml = "0.8.9"
openssl = { version = "0.10", features = ["vendored"] }

[dev-dependencies]
assert_cmd = "2.0"
predicates = "3.1"
tempfile = "3.9.0"
