[package]
name = "gitopolis"
version = "0.0.0-git"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ansi_term = "0.12.1"
clap = { version = "4.2.4", features = ["derive"] }
env_logger = "0.10.0"
git2 = "0.17.1"
log = "0.4.17"
serde = "1.0.160"
serde_derive = "1.0.164"
toml = "0.7.3"
openssl = { version = "0.10", features = ["vendored"] }

[dev-dependencies]
assert_cmd = "2.0"
predicates = "3.0"
tempfile = "3.5.0"
