[package]
name = "gitopolis"
version = "0.0.0-git"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ansi_term = "0.12.1"
clap = { version = "4.4.7", features = ["derive"] }
env_logger = "0.10.0"
git2 = "0.18.1"
log = "0.4.20"
serde = "1.0.193"
serde_derive = "1.0.190"
toml = "0.8.8"
openssl = { version = "0.10", features = ["vendored"] }

[dev-dependencies]
assert_cmd = "2.0"
predicates = "3.0"
tempfile = "3.8.1"
