[package]
name = "gitopolis"
version = "0.0.0-git"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ansi_term = "0.12.1"
clap = { version = "4.1.10", features = ["derive"] }
env_logger = "0.10.0"
git2 = "0.16.1"
log = "0.4.17"
serde = "1.0.157"
serde_derive = "1.0.157"
toml = "0.5.11"

[dev-dependencies]
assert_cmd = "2.0"
predicates = "3.0"
tempfile = "3.4.0"
